.container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
}
* {
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}
@media (max-width: 375px) { /* Mobile screen */
  .container {
    width: 300px;
  }
}
