.container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 991px) {
  .container {
    width: 950px;
  }
}

@media (max-width: 768px) { /* Mobile screen */
  .container {
    width: 550px;
  }
}
